@media screen and (max-width: 1400px) {
  body {
    margin-left: 300px;
    margin-right: 300px;
  }

  #desktop-nav {
    padding-right: 300px;
  }

  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1300px) {
  body {
    margin-left: 150px;
    margin-right: 150px;
  }

  #desktop-nav {
    padding-right: 150px;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
  }

  section {
    margin: 0 5%;
  }

  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 1120px) {
  body {
    margin-left: 40px;
    margin-right: 40px;
  }

  #desktop-nav {
    padding-right: 100px;
  }

  .project-title {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }

  #desktop-nav {
    padding-right: 0px;
    margin: 0 5%;
  }

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  /* Responsive Design */
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: block;
  }

  .nav__hamburger {
    display: flex;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  #profile,
  .section-container {
    display: block;
  }

  .section__pic-container {
    display: flex;
    height: 380px;
    width: 200px;
    margin: 0 auto 10px;
  }

  .section__pic-container img {
    min-width: 200px;
    min-height: 200px;
    border-radius: 2rem;
    object-fit: cover;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    text-align: center;
  }

  .name {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 5px;
  }

  .text-container {
    text-align: justify;
  }

  /* Project */
  .project-img {
    border-radius: 1rem;
    width: 80%;
    height: auto;
  }

  .prev-btn,
  .next-btn {
    /* top: 30%; */
    margin-right: 0.85rem;
    margin-left: 0.85rem;
  }

  .project-title {
    font-size: 1rem;
  }
}
