/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin-left: 350px;
  margin-right: 350px;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

#desktop-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
  justify-content: right;
  justify-content: flex-end;
  right: 0;
  padding-right: 350px;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: right;
  align-items: center;
  height: 8vh;
  /* margin: 0 10rem; */
}

.nav-links {
  gap: 1.8rem;
  list-style: none;
  font-size: 1rem;
  /* margin-right: 3rem; */
}

.nav-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* .logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
} */

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  position: fixed;
  width: 100vw;
  z-index: 999;
  background-color: white;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  margin-right: 50px; /* Khoảng cách từ viền bên phải */
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.hamburger-nav-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 600px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* PROGRESSBAR */

#progressbar {
  position: fixed;
  top: calc(8vh);
  left: 0;
  right: 0;
  height: 1px;
  /* background: rgba(250, 250, 250, 0.05); */
  background: rgba(51, 51, 51, 0.16);
  z-index: 997;
}

#scrollPath {
  z-index: 998;
  position: fixed;
  top: calc(8vh);
  left: 0;
  height: 2.5px;
  background: #008aff;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

/* SECTIONS */

section {
  /* padding-top: 4vh; */
  /* height: 96vh; */
  /* margin: 0 10rem; */
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* height: 80vh; */
  padding-top: 12vh;
}

.name {
  padding-bottom: 5px;
  font-size: 2rem;
}

.section__pic-container {
  min-width: 285px;
  min-height: 285px;

  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
  align-items: center; /* Căn giữa nội dung theo chiều ngang */
  width: 285px;
  height: 285px;
}

.section__pic-container img {
  height: 100%;
  width: 100%;
  /* min-width: 250px; */
  /* min-height: 250px; */
  border-radius: 2rem;
  object-fit: cover;
}

.section__text p {
  /* flex-direction: column; */
  /* align-self: center; */
  /* text-align: justify; */
  /* max-width: 200px; */
  font-size: 0.9rem;
  /* text-indent: 30px; //thụt lề đầu đoạn văn */
}

.info {
  margin-top: 1rem;
}

.info p {
  font-size: 0.85rem; /* Kích thước chữ */
  font-weight: 500; /* Độ đậm của chữ */
  color: #333; /* Màu chữ */
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 1rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  padding-top: 25vh;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  /* justify-content: center; */
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.title {
  font-size: 1.5rem;
  border-bottom: 2px solid rgb(163, 163, 163);
}

/* Technical Skills */

#activities {
  position: relative;
  padding-top: 12vh;
}

/* Technical Skills */

#technical_skills {
  position: relative;
  padding-top: 12vh;
}

.skill-containers {
  /* gap: 1.5rem; */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title_1 {
  font-weight: 600;
  font-size: 1.05rem;
  padding-left: 30px;
  color: rgb(64, 64, 64);
}

.skill-containers p {
  color: rgb(85, 85, 85);
  font-weight: 400;
  font-size: 1rem;
  padding-left: 15px;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */
#projects {
  position: relative;
  padding-top: 12vh;
}

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; /* Ẩn các project không được hiển thị */
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.project-slide {
  min-width: 100%; /* Đảm bảo mỗi slide chiếm toàn bộ vùng hiển thị */
  transition: transform 0.5s ease; /* Hiệu ứng mượt khi chuyển đổi */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img {
  border-radius: 2rem;
  width: 50%;
  height: auto;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  border: none;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  border-color: rgb(163, 163, 163);
  background-color: rgba(0, 0, 0, 0);
  left: -2rem;
}

.next-btn {
  border-color: rgb(163, 163, 163);
  background-color: rgba(0, 0, 0, 0);
  right: -2rem;
}

.prev-btn:hover,
.next-btn:hover {
  background: rgb(53, 53, 53);
  color: white;
}

/* FOOTER SECTION */

footer {
  padding-top: 8vh;
  padding-bottom: 5px;
}

footer p {
  text-align: center;
  font-size: 0.85rem;
}
