/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin-left: 350px;
  margin-right: 350px;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Change Theme */

/* Chế độ sáng (light mode) */
body.light-mode {
  background-color: white;
  color: black;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.light-mode a:hover {
  text-decoration-color: rgb(7, 0, 100);
}

body.light-mode p,
body.light-mode a,
body.light-mode button,
body.light-mode .time,
body.light-mode .skill-name {
  color: rgb(7, 0, 100);
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.light-mode #desktop-nav {
  background-color: white;
  color: black; /* Màu chữ khi chế độ sáng */
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.light-mode .nav__hamburger__line {
  background-color: #1c1c1c;
}

body.light-mode .nav__menu {
  background-color: white;
  color: black; /* Màu chữ khi chế độ sáng */
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.light-mode #progressbar {
  background: rgba(51, 51, 51, 0.16);
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.light-mode #scrollPath {
  background: rgb(13, 0, 200);
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.light-mode .title {
  border-bottom: 2px solid rgba(51, 51, 51, 0.16);
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.light-mode .image-theme {
  transition: background-color 0.8s ease, color 0.8s ease;
}

/* Chế độ tối (dark mode) */
body.dark-mode {
  background-color: #1c1c1c;
  color: white;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark-mode p,
body.dark-mode #hamburger-nav,
body.dark-mode a,
body.dark-mode button,
body.dark-mode .time,
body.dark-mode .skill-name {
  color: white;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark-mode a:hover {
  text-decoration-color: white;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark-mode .nav__hamburger__line {
  background-color: white;
}

body.dark-mode .nav__menu {
  background-color: #1c1c1c;
  color: black; /* Màu chữ khi chế độ sáng */
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark-mode #desktop-nav {
  background-color: #1c1c1c;
  color: white;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark-mode #progressbar {
  background: rgba(200, 200, 200, 0.3);
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark-mode #scrollPath {
  background: white;
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark-mode .title {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  transition: background-color 0.8s ease, color 0.8s ease;
}

body.dark-mode .image-theme {
  filter: invert(1) brightness(2);
  transition: background-color 0.8s ease, color 0.8s ease;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
#desktop-nav {
  position: fixed;
  width: 100%;
  z-index: 999;
  justify-content: flex-end;
  right: 0;
  padding-right: 350px;
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: white;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: right;
  align-items: center;
  height: 8vh;
  /* margin: 0 10rem; */
}

.nav-links {
  gap: 1.8rem;
  list-style: none;
  font-size: 1rem;
  /* margin-right: 3rem; */
}

.nav-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 22px;
  cursor: pointer;
}

.image-theme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(7, 0, 100);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(7, 0, 100);
}

/* HAMBURGER MENU */
#hamburger-nav {
  /* background: black; Màu nền của thanh điều hướng */
  display: none;
  position: fixed; /* Cố định vị trí thanh điều hướng */
  top: 0; /* Đặt thanh điều hướng ở đầu trang */
  left: 0;
  width: 100%; /* Chiều rộng bao phủ toàn bộ màn hình */
  z-index: 1000; /* Đặt z-index cao để đảm bảo nó nằm trên các phần tử khác */
}

/* Nút hamburger */
.nav__hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  z-index: 1001; /* Đặt z-index cao hơn nav để dễ bấm */
  position: fixed; /* Nút hamburger cố định trên màn hình */
  top: 15px; /* Vị trí cách trên cùng một khoảng */
  right: 15px; /* Vị trí cách phải một khoảng */
}

/* Các dòng của nút hamburger */
.nav__hamburger__line {
  height: 3px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.nav__menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  padding-top: 8vh;
}

.nav__menu.active {
  top: 0;
}

.nav__menu ul {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

.nav__menu__link {
  display: flex; /* Sử dụng flexbox */
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
  height: 100%; /* Đảm bảo phần tử có chiều cao đủ để căn giữa */
  padding-bottom: 3px;
}

.nav__menu__link .image-theme {
  width: 50px;
  height: 50px;
}

.nav__menu__link .image-lang {
  width: 43px;
  height: 43px;
}

.nav__menu__link a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 1rem;
  font-size: 1.2rem;
}

.nav__menu__link a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__hamburger.active .nav__hamburger__line:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

.nav__hamburger.active .nav__hamburger__line:nth-child(2) {
  opacity: 0;
}

.nav__hamburger.active .nav__hamburger__line:nth-child(3) {
  transform: rotate(-50deg) translate(3px, -5px);
}

/* PROGRESSBAR */

#progressbar {
  position: fixed;
  top: calc(8vh);
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(51, 51, 51, 0.16);
  z-index: 997;
}

#scrollPath {
  z-index: 998;
  position: fixed;
  top: calc(8vh);
  left: 0;
  height: 2px;
  background: rgb(13, 0, 200);
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

/* SECTIONS */

section {
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 12vh;
}

.name {
  font-size: 2rem;
}

.section__pic-container {
  min-width: 285px;
  min-height: 300px;
  display: flex;
  flex-direction: column; /* Sắp xếp theo chiều dọc */
  align-items: center; /* Căn giữa nội dung theo chiều ngang */
  width: 285px;
  height: 300px;
  margin-bottom: 10vh;
}

.section__pic-container img {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.section__text p {
  font-size: 0.9rem;
}

.info {
  margin-top: 1rem;
}

.info p {
  font-size: 0.85rem; /* Kích thước chữ */
  font-weight: 500; /* Độ đậm của chữ */
  color: rgb(7, 0, 100); /* Màu chữ */
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  /* gap: 1rem; */
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  min-width: 6rem;
  border-radius: 1rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
  padding-top: 25vh;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  /* justify-content: center; */
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.title {
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(51, 51, 51, 0.16);
  padding-bottom: 5px;
}

/* Activities */

#activities {
  padding-top: 12vh;
}

.activities-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-left: 15px;
  padding-top: 10px;
}

.activity {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.time {
  font-weight: bold;
  font-size: 1rem;
  min-width: 100px; /* Để căn chỉnh thời gian thẳng hàng */
  color: rgb(64, 64, 64);
  text-align: left;
}

.activity-title {
  font-size: 1rem;
  color: rgb(7, 0, 100);
}

/* Technical Skills */

#technical_skills {
  position: relative;
  padding-top: 12vh;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-left: 15px;
  padding-top: 10px;
}

.skill {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.skill-name {
  font-weight: bold;
  font-size: 1rem;
  min-width: 200px; /* Để căn chỉnh thời gian thẳng hàng */
  color: rgb(64, 64, 64);
  text-align: left;
}

.skill-title {
  font-size: 1rem;
  color: rgb(7, 0, 100);
}

/* PROJECTS SECTION */
#projects {
  position: relative;
  padding-top: 12vh;
}

.slider-container {
  display: flex;
  /* align-items: center; */
  position: relative;
  overflow: hidden; /* Ẩn các project không được hiển thị */
  /* width: 80%; */
  margin: 0 auto;
  padding-top: 10px;
}

.project-slide {
  min-width: 100%; /* Đảm bảo mỗi slide chiếm toàn bộ vùng hiển thị */
  transition: transform 0.5s ease; /* Hiệu ứng mượt khi chuyển đổi */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img {
  border-radius: 1rem;
  width: 80%;
  height: auto;
}

.project-title {
  margin: 1rem;
  color: black;
  font-size: 1.5rem;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  border: none;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  margin-right: 2rem;
  margin-left: 2rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  background-color: rgba(0, 0, 0, 0);
  left: -2rem;
}

.next-btn {
  background-color: rgba(0, 0, 0, 0);
  right: -2rem;
}

.prev-btn:hover,
.next-btn:hover {
  background: rgb(141, 141, 141);
  color: white;
}

/* FOOTER SECTION */

footer {
  padding-top: 18vh;
  padding-bottom: 5px;
}

footer p {
  text-align: center;
  font-size: 0.85rem;
}
